body, html {
    background-color: lightblue;
}
.header {
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
}
.normaltext {
    font-family:'Verdana', Times, serif;
    text-align: center;
}

#logindiv {
    font-family:'Verdana', Times, serif;
    text-align: center;
    background-color: aquamarine;
    border-style: solid;
    width: 25vw;
    height: 45vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signupdiv {
    font-family:'Verdana', Times, serif;
    text-align: center;
    background-color: rgb(118, 200, 247);
    border-style: solid;
    border-width: 3px;
    width: 450px;
    height: 275px;
    margin: auto;
}

#chatdiv {
    font-family:'Verdana', Times, serif;
    background-color: rgb(0, 252, 218);
    padding: 10px;
    margin: auto;
    height: 50vh;
    width: 60vw;
    border-radius: 10px;
    border-style: solid;
    overflow-y: auto;
    scroll-margin-top: 200px;
}

#forminput {
    font-family:'Verdana', Times, serif;
    font-size: 18px; 
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.signupinput {
    font-family:'Lucida Sans', Times, serif;
    font-size: 18px; 
}

#chatsend {
    font-family:'Verdana', Times, serif;
    border-style: solid;
    border-width: 3px;
    border-color: #287067;
}

#dmdiv {
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    width: 14vw;
    padding: 10px;
    margin: 0px;
    height: 96vh;
    overflow-y: auto;
    border-style: solid;
    border-width: 2px;
    margin: 0;
    background-color: rgb(128, 128, 231);
}

.dmbutton {
    width: 100%;
    height: 40px;
    background-color: rgb(141, 214, 141);
    border-color: rgb(13, 224, 235);
    margin: 1px;
    font-family:  'Verdana', 'Arial Narrow Bold', sans-serif;
}

.submitbutton {
    background-color: peachpuff;
    border-color: blueviolet;
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.signupbutton {
    background-color: rgb(117, 255, 207);
    border-color: rgb(127, 127, 48);
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}