<!DOCTYPE html>
<head>
    <title>Chatsite 101</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
        <div id="dmdiv">
            <p class="normaltext">Direct Messages</p>
            <button class="dmbutton" onclick="load(this.innerHTML)">everyone</button>
        </div>
        <h1 class="header">Time to start chatting!</h1>
        <p class="normaltext"><strong id="onlinepeople"></strong></p>
        <div id="chatdiv">
        </div>
        <div class="normaltext">
            <p class="normaltext">Enter message here:</p>
	    <textarea id="chatsend" cols="30" rows="1"></textarea><br><br>
        <p class="normaltext">Enter recipient here:</p>
        <textarea id="chatrecip" cols="30" rows="1">everyone</textarea><br><br>
            <button class="submitbutton" onclick="send()" class="submitbutton"> Send </button><br>
             <a class="normaltext" href="./" onclick="backToLogin(event)"> Log in again </a>
        </div>
        <script src="./static/chat.js"></script>
</body>
</html>
