<!DOCTYPE html>
<head>
    <title>Chatsite 101</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="header">Banter</h1>
    <h3 class="normaltext" style="font-family: 'Gill Sans'; font-weight: normal;">Meet new people and have wonderful conversations</h3>
    <h2 class="normaltext" style="font-family: Gill Sans">Log In</h2>
    {% if auth %}
    <h4 class="normaltext">{{ auth }}</h4>
    {% endif %}
    <br><br>
    <div class="logindiv">
    <form action="./chat" method="POST">
        <label for="username" style="font-family:'Gill Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Username</label><br>
        <input name="username" class="forminput" type="text" value="">
        <label for="password" style="font-family:'Gill Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Password</label><br>
        <input name="password" class="forminput" type="password" value="">
        <input class="submitbutton" type="submit" value="Submit"><br>
        <a class="forminput" href="./signup.html" style="font-size: 16px;"> Sign up here! </a>        
      </form>
    </div>
</body>
</html>